* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media(min-width:991px) {
    h1 {
        color: #1B5151;
    }

    .image-home {
        display: flex;
        justify-content: center;
    }

    .image-home img {
        object-fit: cover;
        height: 100px;
    }

    .container-box {
        margin-top: 10%;
        margin-bottom: 10%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        display: grid;
        grid-template-columns: 350px 1fr;
        grid-template-rows: 1fr;
    }

    .container-image {
        display: flex;
        justify-content: center;
        border-right: 1px solid rgba(110, 110, 110, 0.616);
    }

    .container-image img {
        object-fit: cover;
    }

    .input-group {
        width: 400px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-enter {
        border: none;
        background-color: rgb(0, 166, 166);
        min-width: 400px
    }

    .button-enter:hover {
        background-color: rgb(0, 196, 196);
    }

    .btn-login {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .btn-login a {
        width: 45%;
        margin-top: 15px;
        background-color: transparent;
    }

    .btn-google {
        color: rgb(226, 36, 36);
        border-color: rgb(226, 36, 36);
        transition: .2s ease-in-out;
    }

    .btn-face {
        color: rgb(39, 36, 226);
        border-color: rgb(39, 36, 226);
        transition: .2s ease-in-out;
    }

    .btn-face:hover {
        background-color: rgb(39, 36, 226);
        border-color: rgb(39, 36, 226);
    }

    .btn-google:hover {
        background-color: rgb(226, 36, 36);
        border-color: rgb(226, 36, 36);
    }
}
@media(max-width:990px) {
    h1 {
        color: #1B5151;
    }

    .image-home {
        display: flex;
        justify-content: center;
    }

    .image-home img {
        object-fit: cover;
        height: 100px;
    }

    .container-box {
        margin-top: 10%;
        margin-bottom: 10%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        display: grid;
        grid-template-columns: 350px 1fr;
        grid-template-rows: 1fr;
    }

    .container-image {
        display: none;
        justify-content: center;
        border-right: 1px solid rgba(110, 110, 110, 0.616);
    }

    .container-image img {
        object-fit: cover;
    }

    .input-group {
        width: 400px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-enter {
        border: none;
        background-color: rgb(0, 166, 166);
        min-width: 400px
    }

    .button-enter:hover {
        background-color: rgb(0, 196, 196);
    }

    .btn-login {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .btn-login a {
        width: 45%;
        margin-top: 15px;
        background-color: transparent;
    }

    .btn-google {
        color: rgb(226, 36, 36);
        border-color: rgb(226, 36, 36);
        transition: .2s ease-in-out;
    }

    .btn-face {
        color: rgb(39, 36, 226);
        border-color: rgb(39, 36, 226);
        transition: .2s ease-in-out;
    }

    .btn-face:hover {
        background-color: rgb(39, 36, 226);
        border-color: rgb(39, 36, 226);
    }

    .btn-google:hover {
        background-color: rgb(226, 36, 36);
        border-color: rgb(226, 36, 36);
    }
}