@media(min-width: 991px) {
    main {
        background-color: #F0F0F0;
    }

    footer {
        position: relative;
        z-index: 11;
    }

    .container {
        display: flex;
        flex-direction: column;
        min-height: 600px;
    }
}